:root {
  --black: #1d1316;
  --white: #fff;

  --red-500: #b31116;

  --orange-200: #e9d4b4;
  --orange-500: #ff6000;
  --orange-600: #b84601;

  --yellow-500: #ffd528;

  --green-100: #dfe8e0;

  --gray-300: #a2a0a080;
}